In [1]:
# pip install kafka-python

In [ ]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(bootstrap_servers=['65.0.45.149:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [8]:
producer.send('demo_test2', value={'name':'Abhi'})

In [21]:
df = pd.read_csv("indexProcessed.csv")

In [22]:
df.tail()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
104219,J203.JO,2021-05-25,66054.92188,66812.45313,66022.97656,66076.67969,66076.67969,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.67969,66446.36719,66030.35156,66108.22656,66108.22656,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.22656,66940.25000,66102.54688,66940.25000,66940.25000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.25000,67726.56250,66794.60938,67554.85938,67554.85938,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.85938,68140.85156,67554.85938,67964.03906,67964.03906,0.0,4757.482734

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test2', value=dict_stock)

In [20]:
producer.flush() #clear data from kafka server